*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri';
    /* font-style: italic; */
}

body {
    padding-left: 20px;
    padding-right: 20px;
}

header h1{
    font-style: italic;
    font-size: 7vh;
}

header img{
    object-fit: cover; 
    object-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

h1{
    position: relative;
    top: 30px;
    text-align: left;
    display: block;
}

nav{
    height: 5vh;
    padding: 5px;
    text-align: right;
    position: relative;
    top: 8px;
}

nav a{
    display: inline-block;
    color: white;
    background-color: blue;
    width: 7rem;
    height: 2rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    /* border-radius: 1rem; */
    border-color: black;
    border: 3px;
    box-shadow: 5px 5px lightgray;
}

h2.principal{
    text-align: center;
    border: black 2px solid;
}

/* a[href="#"]{
    background-color: blue;
    color: aliceblue;
} */

a:hover{
    color: black;
    background-color: rgb(61, 243, 61);
}

a:active{
    background-color: green;
}

a.active{
    background-color: green;
}

main{
    padding-top: 5vh;
}

aside {
    position: relative;
    width: 25%;
    margin: 15px 5px 0px 0px;
    display: inline-block;
}

aside img{
    padding: 0px;
    width: 30vh;
    height: 30vh;
}

section {
    width: 60%;
    display: inline-block;
    text-align: left;
    position: absolute;
}

.logo:hover{
    transform: scale(1.2);
    transition: 2s;
}

p.about{
    text-indent: 20px;
}

.center{
    text-align: center;
}

dt{
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

ol{
    margin:0;
    padding: 0;
}

ol li.lista1{
    padding-bottom: 10px;
}

li.lista2{
    margin-left: 50px;
}

table{
    padding-top: 20px;
    padding-bottom: 20px;
}

th, td{
    padding: .8rem;
}

td.phone{
    padding: 0;
}
td.email{
    text-align: right;
}

tbody tr:nth-child(even){
    background-color: white;
}

tbody tr:nth-child(odd){
    background-color: #b19696;
}

thead tr{
    background-color:black;
    color:greenyellow;
}

div.contact{
    display: flex;
}

div p.phone,div p.email{
    width: 40%;
}

div p.email{
    text-align: right;
}

p.aditional{
    padding-bottom: 20px;
}